@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400..900;1,400..900&display=swap');


body {
    font-family: "Koulen";

    overflow-x: hidden;
    width: 100%;
}

.loadmorebutton {
    background: linear-gradient(90deg, #491450 0%, #E04413 100%);
    display: flex;
    padding: 9px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    width: max-content;
}

.text-dark {
    color: #491450 !important;
}

.bg-light {
    background: #F6F6F6 !important;
}

.fw-400 {
    font-weight: 400
}

.fs-22 {
    font-size: 22px;
}

@media screen and (min-width: 992px) {
    .fs-24 {
        font-size: 24px;
    }

}

.fs-32 {
    font-size: 32px;
}

ul {
    padding: 0 !important;
}

.container {
    @media screen and (min-width: 992px) {
        max-width: 90%;
    }
}

// @media screen and (max-width: 992px) {
//     .container {
//         max-width: 90%;
//     }
// }

.orange-button {
    border-radius: 10px;
    background: #E04413;
    padding: 6px 26px;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
}

.section-title {
    @media screen and (min-width: 992px) {
        font-size: 56px;
        font-weight: 400;
        line-height: 65px;
    }

    text-align: center;

    @media screen and (max-width: 992px) {
        font-size: 32px;
        font-weight: 400;
    }
}

.page-title {
    text-align: center;

    font-size: 56px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.page-pattern {
    position: relative;

    &::after {
        content: "";
        width: 142.173px;
        height: 177.524px;

        @media screen and (min-width: 992px) {
            width: 297.31px;
            height: 357px;
            bottom: -139px;
        }

        background-image: url(../images/patternright.svg);
        position: absolute;
        background-repeat: no-repeat;
        right: 0;

        z-index: 0;
        background-position: right;
        background-size: contain;


        width: 297.31px;
        height: 357px;
        top: 0;
        left: 0;
        background-position: right;
        transform: rotate(180deg);
        z-index: 0;
    }
}

.dropdown {
    position: relative;
    z-index: 1;

    .dropdown-toggle {
        padding: 8px 10px;
        border: 1px solid #ABABAB;
        background: #F6F6F6;
        color: #260531;

        font-size: 18px;
        font-weight: 400;
        border-radius: 0;
        min-width: 159px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Koulen";

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}

.dropdown-toggle.bg-white:hover {
    color: black;
    background-color: #dedede !important;
}

.dropdown-toggle::after {
    width: 10px;
    height: 10px;
    border: 2px solid #606061;
    /* background: #F6F6F6; */
    transform: rotate(45deg);
    border-left: 0;
    border-top: 0;
    opacity: 1;
    /* border-color: red; */
    position: relative;
    top: -3px;
}

// navbar

.topheader {
    .container {
        padding-left: 20px;
        margin-left: 65px;
    }
}

.navbar {
    background: #41124A;
    position: relative;
}

.navbar .navbar-brand {
    img {
        max-width: 211px;
        position: absolute;
        left: 0;
        top: 0;
    }

    height: 78px;
    margin: 0;
    padding: 0;
}

.navbar .menu {
    display: flex;
    color: white;

    li {
        margin-left: 54px;

        a {
            color: white;
        }
    }

    li:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .navbar .menu {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar .menu li {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-toggler-icon {
        filter: invert(1);
    }
}

.current_page_item a {
    color: #F15A29 !important;
}

a {
    text-decoration: none;
}

// banner

.banner {
    overflow: hidden;

    @media screen and (max-width: 992px) {
        background-image: url(../images/smallbannerimage.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 100px;
    }
}

.bannerplayers img {
    @media screen and (min-width: 992px) {
        width: 530px;
        height: 529px;
        position: absolute;
        bottom: -66px;
        height: 529px;
        -o-object-fit: contain;
        object-fit: contain;
        left: 10%;
    }
}

.main-bg {
    height: 594px;
}

.animatelogo {
    @media screen and (min-width: 992px) {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: -moz-max-content;
        height: max-content;
    }

    width: 100%;
}

.map {
    animation: zoom-in-zoom-out 10s ease infinite;
    width: 100%;
    max-width: 294.15px;
    height: 235px;

    @media screen and (min-width: 992px) {

        max-width: 580.178px;
        height: 463.512px;

    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

// livematch

.livematch {
    font-family: Rubik;
    background: #FFF;
    position: relative;

    @media screen and (max-width: 992px) {
        .orange-button {
            position: absolute;
            /* bottom: 0; */
            top: 173px;
            left: 15px;
            font-size: 14px;
        }
    }

    .ovhjuhjh {
        @media screen and (max-width: 992px) {
            margin-top: -20px;
        }
    }

    .stadium {
        @media screen and (min-width: 992px) {
            transform: translateX(-90px);
        }

        .stadiumnamelable {
            font-size: 12px;
        }

        .stadiumname {
            max-width: 160px;

            @media screen and (max-width: 992px) {
                font-size: 14px;
            }
        }
    }

    .liveteam1,
    .liveteam2 {
        width: 76px;
        object-fit: contain;

        @media screen and (min-width: 992px) {
            width: 111px;
            left: 6px;
            position: relative;
        }
    }

    .livematch-container {

        @media screen and (max-width: 992px) {
            width: 95%;
        }

        overflow: hidden;

        @media screen and (min-width: 992px) {
            display: flex;
            width: 1242px;
            height: 121px;
            overflow: hidden;
            padding-right: 33px;
        }

        align-items: center;
        border-radius: 10px 0px 0px 10px;
        margin: auto;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
        justify-content: space-between;

        align-items: center;
        transform: translateY(-30px);
    }

    .livematchlabel {
        @media screen and (min-width: 992px) {
            width: 210px;
            height: 121px;
        }

        background: #F15A29;
        color: #FFF;
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .liveversus {
        @media screen and (max-width: 992px) {
            width: 188px;
            background-position: center;
        }

        height: 46px;
        display: flex;
        background-image: url(../images/versus.svg);
        justify-content: center;
        align-items: center;
        font-size: 12px;

        @media screen and (min-width: 992px) {
            font-size: 16px;
            width: 240px;
        }

        span {
            display: block;
            width: 100%;
        }
    }

    .liveversus div:first-child {
        padding-right: 0;
        margin-top: 25px;

        @media screen and (min-width: 992px) {
            padding-right: 40px;
            text-align: right;
            margin-top: 30px;
            text-align: center;
        }

        span:last-child {
            position: relative;
            top: 8px;
        }
    }

    .liveversus div:last-child {
        padding-left: 40px;
        margin-top: 30px;
        text-align: center;

        @media screen and (max-width: 992px) {
            transform: translateX(14px);
        }

        span:last-child {
            position: relative;
            top: 8px;
        }
    }
}


// mens team
@media screen and (max-width: 992px) {
    .flex-sm-wrap {
        flex-wrap: wrap;
    }
}

.mens-team {
    background-color: white;
    position: relative;

    @media screen and (min-width: 992px) {
        min-height: 407px;
    }

    @media screen and (max-width: 992px) {
        padding: 30px 0;
    }

    display: flex;
    align-items: center;
}


.mens-team .teams-image img {
    @media screen and (min-width: 992px) {
        height: 130px;
        width: 130px;
    }

    -o-object-fit: contain;
    object-fit: contain;
}

.mens-team .teams-image {
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 992px) {
        width: 20%;
        margin: 15px;
    }

    @media screen and (min-width: 992px) {
        margin: 0 9px;
    }
}

.mens-team .teams-image:hover {
    transform: scale(1.1);
}

.mens-team::before {
    content: "";
    width: 142.173px;
    height: 177.524px;

    @media screen and (min-width: 992px) {
        width: 297.31px;
        height: 357px;
    }

    background-image: url(../images/patternleft.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: contain;
}

.mens-team::after {
    content: "";
    width: 142.173px;
    height: 177.524px;

    @media screen and (min-width: 992px) {
        width: 297.31px;
        height: 357px;
        bottom: -139px;
    }

    background-image: url(../images/patternright.svg);
    position: absolute;
    background-repeat: no-repeat;
    right: 0;

    z-index: 0;
    background-position: right;
    background-size: contain;
    z-index: 9;
}

// higlights

.highlights {
    position: relative;

    @media screen and (min-width: 992px) {
        min-height: 450px;
    }

    background-color: white;
}


.video-background {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: black;
}

.video-background iframe {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    height: 100%;
    width: 100%;
}

.players-section .oragnescapplayer {
    background: #F15A29;
}

.players-section .purplecapplayer {
    background: #5B1967;
}

.cap-container {
    padding: 51px 0 20px;

    @media screen and (min-width: 992px) {

        padding: 98px 0 30px;
    }

}

.cap-image-container {
    width: 217.188px;
    height: 173.958px;

    @media screen and (min-width: 992px) {
        width: 417px;
        height: 334px;
    }

    img {

        width: 160.417px;
        height: 142.708px;

        @media screen and (min-width: 992px) {
            width: 308px;
            height: 274px;
            object-fit: cover;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            object-position: top;
        }
    }

    background-image: url(../images/playerpattern.png);
    background-position: center;
    background-size: contain;
    margin: 0 auto 10px;

    @media screen and (min-width: 992px) {
        margin: 0 auto 20px;
    }

    background-repeat: no-repeat;
}

.purplecapplayer .cap-image-container {
    background-image: url(../images/playerpattern2.png);
}

.cap-title {
    color: #FFF;
    font-size: 18px;

    @media screen and (min-width: 992px) {
        font-size: 36px;

        margin-bottom: -10px;
    }

}

.cap-player-name {
    color: #FFF;
    margin-bottom: 11px;

    @media screen and (min-width: 992px) {
        font-size: 32px;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 992px) {
    .capscores {
        align-items: center;

        svg {
            height: 36.458px;
        }
    }
}

.cap-run {
    color: #FFF;

    font-size: 21px;

    @media screen and (min-width: 992px) {
        font-size: 42px;
    }
}

.cap-label {
    color: #FFF;
    font-size: 11px;

    @media screen and (min-width: 992px) {
        font-size: 22px;
    }
}

.sponsors {
    position: relative;
    padding-top: 124px;
    padding-bottom: 177px;
    background-color: white;
}

.sponsors::before {
    content: "";
    width: 297.31px;
    height: 357px;
    background-image: url(../images/patternleft.svg);
    position: absolute;
    background-repeat: no-repeat;
    bottom: 48px;
    left: 0;
    z-index: 0;
    background-size: contain;
}

.sponsors::after {
    content: "";
    width: 297.31px;
    height: 357px;
    background-image: url(../images/patternright.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: 67px;
    right: 0;
    z-index: 0;
    background-position: right;
    background-size: contain;
}

.sponsors img {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    max-width: 306px;
}

.wp-block-media-text__content {

    text-align: center;
    font-size: 32.067px;
    font-weight: 400;

}


li {
    list-style-type: none;
}

b {
    font-weight: 500;
}

// 88888888
.page-title-header {
    height: 198px;


    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
        background: url(../images/smallpageheaderbanner.png) no-repeat left;
        background-size: 100% 100%;
    }

    @media screen and (min-width: 992px) {

        background: url(../images/pageheaderbanner.png) no-repeat left;
        background-size: 100% 100%;
    }




    .page-title-title {
        color: #FFF;
        text-align: center;
        font-family: "Koulen";
        font-size: 32px;

        @media screen and (min-width: 992px) {
            font-size: 56px;
        }

        font-weight: 400;
    }
}

.teamstab-cover {
    height: 198px;


    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
        background: url(../images/smallpageheaderbanner.png) no-repeat left;
        background-size: 100% 100%;
    }

    @media screen and (min-width: 992px) {

        background: url(../images/pageheaderbanner.png) no-repeat left;
        background-size: 100% 100%;
    }
}

// Fixtures
.fixtures {
    font-family: Rubik;
    padding-bottom: 33px;


    .fixture {
        margin-bottom: 33px;
        margin-bottom: 33px;
        background: white;
        position: relative;
        z-index: 1;

        .matchname {
            white-space: nowrap;

            @media screen and (max-width: 992px) {
                margin-right: 40px;
            }
        }

        .fixture-head {
            padding: 14px 10px;
            font-size: 13px;

            @media screen and (max-width: 992px) {
                text-align: left;
            }

            @media screen and (min-width: 992px) {
                padding: 20px 50px;
                font-size: 16px;
            }

            border-radius: 20px 20px 0px 0px;
            background: #260531;
            color: #FFF;
            text-align: center;



            font-weight: 500;

            display: flex;
            align-items: center;
            justify-content: space-between;
            /* 150% */
        }

        .fixtures-body {
            padding: 15px;

            @media screen and (min-width: 992px) {
                padding: 35px 50px;
            }

            display: flex;
            align-items: center;
            border-radius: 0px 0px 20px 20px;
            background: #FFF;

            .fixteamimage {
                width: 82px;

                @media screen and (min-width: 992px) {
                    width: 100px;
                }
            }

            .fixtures-schedule {
                @media screen and (min-width: 992px) {
                    margin-left: 32px;
                }

                @media screen and (max-width: 992px) {
                    font-size: 11px;
                }
            }

            .fixtures-schedule-date {
                font-size: 13px;

                @media screen and (max-width: 992px) {
                    margin: 10px 0 2px;
                }

                @media screen and (min-width: 992px) {
                    font-size: 20px;
                }

            }
        }

        .fixture-run {
            color: #606061;

            @media screen and (max-width: 992px) {
                font-size: 11px;
            }

            font-weight: 400;
        }

        .fixture-run div:first-child {
            font-size: 13px;

            @media screen and (min-width: 992px) {
                font-size: 24px;
            }
        }

        .fixtures-versus {

            @media screen and (max-width: 992px) {
                width: 20.115px;
                height: 20.115px;
                margin-right: 24px;

            }

            @media screen and (min-width: 992px) {
                max-width: 46px;
                margin: 0 76px;
            }

        }

        .fixture-run1 {

            @media screen and (min-width: 992px) {
                margin-right: 85px;
            }
        }

        .fixture-run2 {

            @media screen and (min-width: 992px) {
                margin-right: 85px;
            }
        }
    }

    .versusteamimage {
        width: 60.818px;

        @media screen and (max-width: 992px) {
            margin-left: 24px;
        }

        @media screen and (min-width: 992px) {
            width: 110.818px;
        }
    }
}

// 888888888

// Stats
form .search {
    input {
        border: 1px solid #ABABAB;
        background: #FFF;
        display: inline-flex;
        padding: 8px 141px 8px 20px;
        align-items: center;
        gap: 14px;
        height: 45px;
    }
}






.ih-pt-img img {
    max-width: 100%
}

tr.ih-pt-tbl {
    background: #260531;
}

td.ih-pt-fb-w {
    width: 10%;
    padding-right: 20px;
}


.ih-pt-r {
    background-color: #ef4123
}

.teams-logo-slider li:has(.right-tick) {
    border: 1px solid #1a356b;
    transform: scale(1.1)
}

table {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 400;
}

.indiplayertable {


    td {
        padding: 22px !important;
    }

    th {
        padding: 17px 22px !important;
    }
}

.ih-pt-fb {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center
}



table tr {
    border: 1px solid #E6E8EB;

    background: #FAFBFC;
}

table.ih-td-tab {
    border-collapse: collapse;
    caption-side: bottom;
    text-align: center;
}

table td,
table th {
    white-space: nowrap;
}

table.ih-td-tab,
table.ih-td-tab td,
table.ih-td-tab th {
    border: 0 solid #000;
    // padding: 10px;
    vertical-align: middle
}

table th {
    color: white;
    font-weight: 400;
    padding: 18px 10px !important;
}

table td {
    font-family: Rubik;
}



td.ih-t-color {
    color: #008625;
    font-weight: 600
}

.rf.W {
    border: 1px solid #008625;
    color: #008625;
    background: none;
    border-radius: 50%;
}

.rf.L {
    border: 1px solid #D34646;
    color: #D34646;
    background: none;
    border-radius: 50%;
}



.ih-pt-ic {
    width: 100%;

    @media screen and (max-width: 992px) {
        min-width: 130px;
    }

    float: left;
    display: flex;
    align-items: center
}

.ih-pt-img {

    padding-right: 20px;
    height: auto;
    width: 60px;
    margin: 10px 0;

    @media screen and (min-width: 992px) {
        width: 80px
    }
}

h2.ih-pt-cont {
    font-size: 16px;
    color: #606061;
    margin-bottom: 0
}

.ih-pt-g,
.ih-pt-r {
    background-color: #008625;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    color: #fff;

    border-radius: 3px
}



@media only screen and (max-width: 1400px) {

    table.ih-td-tab,
    table.ih-td-tab td,
    table.ih-td-tab th {
        font-size: 14px
    }
}

@media only screen and (max-width: 1300px) {

    table.ih-td-tab,
    table.ih-td-tab td,
    table.ih-td-tab th {
        // padding: 9px 15px
    }
}


// stats




.stats-banner {
    position: relative;


    @media screen and (max-width: 992px) {
        background-image: url(../images/smallbannerimage.png);
    }

    @media screen and (min-width: 992px) {
        height: 390px;
        background-image: url(../images/statsoranges.png);
    }

    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-position: center left;
    background-repeat: no-repeat;
    margin: auto;
    background-size: 100% 100%;

    .stats-details {
        @media screen and (min-width: 992px) {
            position: absolute;
        }

        left: 0;
        bottom: 50px;
        width: 100%;
        height: max-content;
        margin: auto;

        .container {
            @media screen and (min-width: 992px) {
                display: flex;
            }

            width: 100%;
            margin: auto
        }
    }

    .theplayersstats {
        @media screen and (min-width: 992px) {
            margin-left: 90px;
        }
    }

    .statsplayer {
        @media screen and (min-width: 992px) {
            width: 200.306px;
            clip-path: polygon(24% 0%, 74% 0%, 100% 22%, 100% 75%, 75% 100%, 30% 108%, 0% 79%, 0% 23%);
            position: relative;
            bottom: 25px;
            left: 34px;
        }
    }

    .statsplayer img {
        width: 100%;

        @media screen and (max-width: 992px) {
            max-width: 248.367px;
            height: 255px;
            margin: auto;
            display: flex;
        }

    }

    .statstable {
        display: flex;

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        >div {
            border: 1px solid white;
            height: 88px;
            width: 33%;

            @media screen and (min-width: 992px) {
                width: 120px;
            }

            font-family: Rubik;
            color: #FFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-right: 0;
        }

        >div:last-child {
            border-right: 1px solid white;
        }

        .statsnumb {

            font-size: 26px;
            font-weight: 600;
        }

        .statstext {}
    }

    .bread-crumb {
        color: #FFF;
        font-size: 14px;

        @media screen and (min-width: 992px) {
            font-size: 16px;
        }

        font-weight: 400;

    }

    .playername {
        color: #FFF;
        font-size: 32px;

        @media screen and (max-width: 992px) {
            margin-top: 20px;
            margin-bottom: 15px;

        }

        @media screen and (min-width: 992px) {
            font-size: 56px;
        }

        font-weight: 400;

        /* 100% */
    }

}

.stats-banner .stats-details.individualplayer {
    bottom: 48px;

    .theplayersstats {
        @media screen and (min-width: 992px) {
            margin-left: 183px;
        }
    }
}

@media screen and (max-width: 992px) {
    .stats-banner .stats-details.individualplayer {
        bottom: 48px;
        padding: 58px 0 30px;
        text-align: center;
    }
}

.gallerystats {
    img {
        width: 100%;
    }
}

.orange-cap-holder {}

.orange-cap-internal {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 479px;

    .capplayerimage {
        width: 309px;
        margin-left: 220px;
        margin-right: 150px;
        position: relative;
        top: 25px;

        img {
            width: 309px;
            height: 317.829px;
            transform: translate(-20px, 85px);
        }
    }

    .cap-details-side {
        margin-top: 65px;
    }

    .orangecap {
        transform: translate(-35px, 0);
        width: 157px;
        height: 113px;
        object-fit: cover;
    }

    .cap-player-name {
        color: #FFF;

        font-size: 32px;

        font-weight: 400;

        /* 125% */
    }

    .captitle {
        color: #FFF;

        font-size: 56px;

        font-weight: 400;

    }
}

.purple-cap-internal {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 479px;

    .capplayerimage {
        width: 309px;
        margin-left: 110px;
        margin-right: 243px;
        position: relative;
        top: 25px;

        img {
            width: 309px;
            height: 317.829px;
            transform: translate(40px, 85px);
        }
    }

    .cap-details-side {
        margin-top: 65px;
    }

    .orangecap {
        transform: translate(-35px, 0);
        width: 157px;
        height: 113px;
        object-fit: cover;
    }

    .cap-player-name {
        color: #FFF;

        font-size: 32px;

        font-weight: 400;

        /* 125% */
    }

    .captitle {
        color: #FFF;

        font-size: 56px;

        font-weight: 400;

    }
}

.statsplayerindiplayer {
    @media screen and (max-width: 992px) {
        text-align: center;

        img {
            width: 210px;
            height: 216px;
            object-fit: contain;
        }
    }
}

.indiplayer {
    width: 100%;
    max-width: 200px;
    position: relative;

    @media screen and (min-width: 992px) {
        top: 53px;
        left: 32px;
    }
}

.individualtable {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 992px) {
        width: 640px;
    }

    >div {
        border: 1px solid white;
        height: 88px;
        width: 50%;
        font-family: Rubik;
        color: #FFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-bottom: 0;
        border-right: 0;
    }

    >div:last-child,
    >div:nth-last-child(3) {
        border-right: 1px solid white;
    }

    >div:last-child,
    >div:nth-last-child(2) {
        border-bottom: 1px solid white;
    }

    .statsnumb {

        @media screen and (min-width: 992px) {
            font-size: 26px;
        }

        font-weight: 600;
    }

    .statstext {}


}

.squad-card {
    border: 1px solid #E6E8EB;

    .squadbody {
        padding: 20px;
    }

    .squad-player-name {
        color: #000;

        font-size: 18px;

        font-weight: 400;

        /* 144.444% */
    }

    .squad-player-role {
        color: #504F50;
        font-family: Rubik;
        font-size: 16px;

        font-weight: 400;

        /* 162.5% */
    }
}

.custom-nav-tabs {

    margin-top: 30px;

    @media screen and (min-width: 992px) {
        margin-top: 87px;
        justify-content: center;
    }

    button {
        display: inline-flex;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #DCDCDC;
        border: 0;
        color: #260531;
        font-family: Rubik;
        font-size: 18px;

        font-weight: 400;

        @media screen and (min-width: 992px) {
            margin: 0 7px;
        }

        /* 144.444% */
        &.active {
            background: #E04413;
            color: white;
        }

        @media screen and (max-width: 992px) {
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 10px;

        }
    }
}




.auction-nav-tabs {
    justify-content: center;
    padding-top: 47px !important;
    padding-bottom: 25px !important;

    button {
        display: inline-flex;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #DCDCDC;
        border: 0;
        color: #260531;
        font-family: Rubik;
        font-size: 18px;

        font-weight: 400;
        margin: 0 7px;

        /* 144.444% */
        &.active {
            background: #E04413;
            color: white;
        }
    }
}

.slick-dots {
    bottom: -36px;
}

.slick-dots li button:before {
    width: 14px;
    height: 14px;
    background: #D9D9D9;
    color: unset;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    background: #310E31;
    color: unset;
    border-radius: 50%;
    opacity: 1;
}

















.teamstab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;

    .teamstabstab {
        width: 111.477px;
        height: 111.477px;
        flex-shrink: 0;
        background-color: #FAFBFC;
        margin: 0 15px;
        border-radius: 50%;
        padding: 10px;

        img {
            width: 100%;
        }

        &.active {
            border: 6px solid #DB4610;
        }
    }
}

.teamtable {
    padding: 58px 0;

    .team-superiors {
        display: flex;

        @media screen and (min-width: 992px) {
            justify-content: center;
        }

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }


        .team-superior {

            @media screen and (max-width: 992px) {
                font-size: 18px;
                padding: 5px 16px 12px;
                margin-bottom: 22px;
                width: 50%;

                &:nth-child(even) {
                    border-right: 0;

                }
            }

            color: #491450;
            font-size: 18px;
            font-weight: 400;
            border-right: 1px solid black;
            padding: 5px 30px 12px;
        }
    }

    .captain-header {
        background: linear-gradient(90deg, #260531 0%, #65202E 31.27%, #F15A29 100%);
        color: #FFF;

        font-size: 24px;
        font-weight: 400;
        padding: 21px;
        text-align: center;
        margin-top: 28px;

        @media screen and (min-width: 992px) {
            margin-top: 58px;
        }

        img {
            margin-left: 10px;
            width: 34px;
            height: 33px;
        }
    }
}

.playerandrole {
    margin: auto;

    &>div {
        border: 1px solid #E6E8EB;
        background: #FAFBFC;
        padding: 10px 20px;
        font-family: Rubik;

        @media screen and (min-width: 992px) {
            font-size: 24px;
            padding: 28px;
        }

        font-weight: 400;

        img {
            margin-right: 37px;
            width: 32px;
            height: 32px;
        }
    }
}

.aucttteamimage {
    width: 96.925px;
    height: 94.961px;

    @media screen and (min-width: 992px) {
        width: 110px;
    }
}

.auctionsection {
    @media screen and (min-width: 992px) {
        height: 931px;
    }

    position: relative;
    background: #41124A;

    &::before {
        content: "";
        width: 326.56px;
        height: 407.759px;
        background-image: url(../images/auction-pattern-left.svg);
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        z-index: 0;
        background-position: left;
    }

    &::after {
        content: "";
        width: 326.56px;
        height: 407.759px;
        background-image: url(../images/auction-pattern-left.svg);
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-position: left;
        transform: scaleX(-1);

    }

    .iframe {
        position: relative;
        z-index: 1;
    }
}

.tab-content {
    position: relative;
    z-index: 1;
}

.aution-details {
    padding: 20px 15px;

    @media screen and (min-width: 992px) {
        padding: 20px 25px;
    }

    border-top: 5px solid #D14340;
    background: rgba(64, 15, 57, 0.36);
    display: flex;
    justify-content: space-between;
    margin-top: 42px;

    @media screen and (max-width: 992px) {
        margin-bottom: 42px;
    }
}

.auctionplayerdteails {
    margin-top: 26px;


}

.playervalue {
    @media screen and (max-width: 992px) {
        font-size: 20px;
    }

    @media screen and (min-width: 992px) {
        margin-top: 26px;

    }
}



.auction-stats {
    padding-top: 46px;
    padding-bottom: 73px;
    position: relative;
    background: #F6F6F6;

    &::before {
        content: "";
        width: 326.56px;
        height: 407.759px;
        background-image: url(../images/auction-stats.svg);
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        z-index: 0;
        background-position: left;
        bottom: 0;
        margin: auto;
    }

    .section-title {
        margin-bottom: 46px;

    }

    .container {
        display: flex;
    }

    .agv-main {
        color: #491450;

        height: 262px;
        padding: 21px 21px 0;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .agv-team-logo {
        width: 77.434px;
        height: 77.434px;
        margin: auto;
        background: white;
        border-radius: 50px;
        padding: 13px;

        img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


    }

    .agv-team-name {
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;

        font-weight: 500;

        margin: 13px 0 14px;
        /* 157.143% */
    }

    .fr-name {
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 14px;

        font-weight: 400;

        /* 157.143% */
    }

    .fr-fund {
        color: #FFF;
        text-align: center;
        font-family: Rubik;
        font-size: 14px;

        font-weight: 700;

        margin-bottom: 14px;
        /* 157.143% */
    }
}

.stats-gallery {
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;

    &::after {
        content: "";
        width: 142.173px;
        height: 177.524px;

        @media screen and (min-width: 992px) {
            width: 297.31px;
            height: 357px;
            top: 0;
        }

        background-image: url(../images/patternright.svg);
        position: absolute;
        background-repeat: no-repeat;
        right: 0;

        z-index: 0;
        background-position: right;
        background-size: contain;
        z-index: 9;
    }

    .section-title {
        @media screen and (min-width: 992px) {
            margin-bottom: 45px;
        }

        color: #491450;
    }

    a {
        margin-bottom: 45px;
        margin-top: 45px;
    }
}

// footer


footer {
    font-family: Rubik;
    padding: 1em;
    text-align: center;
    background-color: #0E0013;
    text-align: left;
    position: relative;
    text-transform: capitalize;
    color: #FFF;

    font-family: Rubik;
    font-size: 16px;
    font-weight: 300;

    /* 150% */
    .menu-item {

        margin-bottom: 18px;
    }

    .menu-item a {
        color: #FFF;
        font-family: Rubik;
        font-size: 16px;

        font-weight: 300;

        /* 150% */
        text-transform: capitalize;
    }

    h6 {
        color: #FFF;
        font-family: "Koulen";
        font-size: 24px;

        font-weight: 400;

        @media screen and (max-width: 992px) {
            margin-top: 40px;
        }

        /* 166.667% */
    }

    .social-icons {
        display: flex;
        align-items: center;

        li {
            margin-right: 23px;
        }
    }
}

footer.main-footer::after {
    content: "";
    width: 297.31px;
    height: 258px;
    background-image: url(../images/footerrightpatter.svg);
    position: absolute;
    background-repeat: no-repeat;
    bottom: 48px;
    right: 0;
    z-index: 0;
    background-position: right;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-logo-widget {
    figure {
        display: flex;

        @media screen and (max-width: 992px) {
            justify-content: center;
        }

        img {
            max-width: 240px;
        }
    }
}

#menu-footer-menu li:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 992px) {
    #menu-footer-menu {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 600px) {
    #menu-footer-menu {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }

    #menu-footer-menu li {
        margin: 0 !important;
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 992px) {
    .lower-footer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media screen and (max-width: 992px) {

    .copyright-footer li,
    .copyright-footer a {
        font-size: 15px;
    }
}

footer li a:hover {
    color: #F15A29 !important;
}

.wp-block-media-text__content p {
    white-space: nowrap;
}

.owl-prev,
.slick-prev,
.slick-next,
.owl-next {
    width: 32px !important;
    height: 32px !important;
    border: 1px solid #260531 !important;
    border-radius: 50px !important;
    margin-top: 23px;

    span {
        font-size: 22px;
        top: -2px;
        position: relative;
    }

    &.disabled {
        opacity: 0.5;
    }
}

.owl-prev {
    margin-right: 11px;
}

.slick-prev:before {
    content: '' !important;
}


.slick-next:before {
    content: '' !important;
}

.wp-block-embed iframe {
    max-width: 100%;
    height: 190px;
}

.wp-block-cb-carousel .slick-next:before,
.wp-block-cb-carousel .slick-prev:before {
    color: #000;
    height: 8px;
    width: 8px;
    display: block;
    left: 4px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: black;
    bottom: 0;
    right: 0;
    margin: auto;
    background: transparent;
    border-right: 0;
    border-top: 0;
}

button.slick-next.slick-arrow {
    transform: rotate(180deg);
}

.slick-arrow {
    position: absolute;
    bottom: -35px;
    top: unset !important;
    left: 7px !important;
}

button.slick-next.slick-arrow {
    transform: rotate(180deg) !important;
    left: 60px !important;
    bottom: -20px !important;
}